@import '~/css/global-variables.module.scss';

.section {
    position: relative;
    padding-top: $marginXlg;
    height: fit-content;

    h2 {
        text-align: center;
        font-family: $main-font;
        font-size: $font-h2;
        text-transform: uppercase;
        margin-bottom: $marginXlg;
    }
}

.project_list {
    display: flex;
    flex-direction: column;
}

.project_list_item {
    position: relative;
    margin-bottom: 4rem;
}
.img {
    z-index: 3;
    position: relative;
}

.img_each {
    width: 90%;
    margin: 0 auto;
    min-height: 35rem;
    height: 70%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 92%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    background-color: #102c34;
    opacity: 0.8;
    // background: url('../../../static/images/pattern3.jpg');
    // opacity: 0.3;
    z-index: 4;
    transition: all 0.3s ease-in;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
    }
}

.title_box {
    width: 90%;
    margin: 0 auto;
    min-height: 35rem;
    height: 70%;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -100%);
    span {
        font-family: $secondary-font;
        font-size: $font-h4;
    }
    transition: 0.5s ease-in-out;
}

.absolute {
    width: 100%;
    height: 100%;
    padding: $marginMd;
}
.pageLink {
    color: $clr-text-primarly;
}
.caption {
    font-size: $font-p;
    color: $clr-primary;
    font-weight: 500;
    margin-bottom: $marginSm;
}

.description {
    width: 100%;
    height: 15rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: $marginSm;
    p {
        font-size: $font-p;
    }
}

.projectName {
    font-weight: 400;
    color: $clr-text-primarly;
    margin-bottom: $marginSm;
}

.projectStack {
    margin-bottom: $marginSm;
    color: $clr-text-primarly;
    font-size: $font-p;
}

.links {
    & :nth-child(2) {
        margin-left: 1rem;
    }
}

.icon {
    color: $clr-primary;
    font-size: 2.5rem;
}

.icon:hover {
    cursor: pointer;
    animation-name: flash-link;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes flash-link {
    0%,
    50%,
    100% {
        color: $clr-text-primarly;
    }
    25%,
    75% {
        color: $clr-primary;
    }
}

@media (min-width: 48rem) {
    .project_list {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    .project_list_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.3s ease-in-out;
        margin-bottom: 4rem;
    }
    .project_list_item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .project_list_item:nth-child(even) {
        .absolute {
            align-items: flex-end;
            transform: translateX(-25%);
        }
        .description {
            P {
                text-align: end;
            }
        }
    }

    .vl {
        height: 100%;
    }

    .img {
        flex: 1;
    }

    .title_box {
        flex: 1;
        height: 30rem;
        position: relative;
        left: 0;
        transform: translate(0, 0);
    }
    .absolute {
        position: absolute;
        width: 130%;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    .description {
        height: 15rem;
        width: 100%;
        background: $clr-bkg-darker;
        border: 1px solid $clr-primary;
    }
}

// @media (min-width: 62rem) {
//     .title_box {
//         height: 40rem;
//     }
// }

// .hr {
//     width: 100%;
//     height: 1px;
//     background: linear-gradient(
//         90deg,
//         rgba(214, 65, 98, 0) 0%,
//         $clr-primary 20%,
//         $clr-primary 70%,
//         rgba(214, 65, 98, 0) 100%
//     );
//     position: absolute;
//     z-index: -1;
// }

// .hrAnimate {
//     animation-name: expand;
//     animation-duration: 1.2s;
//     animation-timing-function: ease-in-out;
// }

// @keyframes expand {
//     from {
//         height: 1px;
//         width: 0;
//     }
//     to {
//         height: 1px;
//         width: 100%;
//     }
// }

// .vl {
//     // border-left: 1px solid #d64162;
//     background: linear-gradient(
//         0deg,
//         rgba(214, 65, 98, 0) 0%,
//         $clr-primary 20%,
//         $clr-primary 70%,
//         rgba(214, 65, 98, 0) 100%
//     );
//     width: 1px;
//     height: 100%;
//     position: absolute;
//     z-index: -1;
// }

// .vlAnimate {
//     animation-name: expand-vertical;
//     animation-duration: 1s;
//     animation-timing-function: ease-in-out;
// }

// @keyframes expand-vertical {
//     from {
//         height: 0;
//     }
//     to {
//         height: 100%;
//     }
// }
