@import '~/css/global-variables.module.scss';

.section {
    position: relative;
    padding-top: 10rem;
    height: fit-content;
    h2 {
        text-align: center;
        font-family: $main-font;
        font-size: $font-h2;
        text-transform: uppercase;
        margin-bottom: 8rem;
    }
}

.project_list {
    display: flex;
    flex-direction: column;
}
.img {
    z-index: 3;
    position: relative;
}

.img_each {
    width: 100%;
    min-height: 45rem;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        background-position: top;
    }
}

.title_box {
    min-height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    span {
        font-family: $secondary-font;
        text-transform: capitalize;
        font-size: $font-h3;
        font-weight: 100;
    }
    transition: 0.5s ease-in-out;
}

.title_box:hover,
.title_box:focus,
.title_box:active {
    transform: scale(1.1, 1.1);
}

.title {
    background: $clr-bkg-darker;
    width: 22rem;
    height: 22rem;
    border: 1px solid $clr-primary;
    border-radius: $radius;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        text-align: center;
        font-weight: 400;
    }
}

.links {
    margin-top: 1rem;
    & :nth-child(2) {
        margin-left: 1rem;
    }
}

.icon {
    color: $clr-primary;
    font-size: 3.5rem;
}

.icon:hover {
    cursor: pointer;
    animation-name: flash-link;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes flash-link {
    0%,
    50%,
    100% {
        color: $clr-text-primarly;
    }
    25%,
    75% {
        color: $clr-primary;
    }
}

.hr {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        rgba(214, 65, 98, 0) 0%,
        $clr-primary 20%,
        $clr-primary 70%,
        rgba(214, 65, 98, 0) 100%
    );
    position: absolute;
    z-index: -1;
}

.hrAnimate {
    animation-name: expand;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

@keyframes expand {
    from {
        height: 1px;
        width: 0;
    }
    to {
        height: 1px;
        width: 100%;
    }
}

.vl {
    // border-left: 1px solid #d64162;
    background: linear-gradient(
        0deg,
        rgba(214, 65, 98, 0) 0%,
        $clr-primary 20%,
        $clr-primary 70%,
        rgba(214, 65, 98, 0) 100%
    );
    width: 1px;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.vlAnimate {
    animation-name: expand-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes expand-vertical {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@media (min-width: 48rem) {
    .project_list {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    .project_list_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    .project_list_item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .vl {
        height: 100%;
    }

    .img {
        flex: 1;
    }

    .title_box {
        flex: 1;
        height: 30rem;
    }
}

@media (min-width: 62rem) {
    .title_box {
        height: 40rem;
    }
}
