@import '~/css/global-variables.module.scss';

/*
===============
Contact form
===============
*/

$border-circle: 0.5rem;
$color: $clr-primary;
$width: 30rem;
$height: 45rem;
$scale: 1.8;
$circleWidth: 2rem;
$circleHeight: 2rem;

.section {
    width: 100%;
    height: fit-content;

    h2 {
        text-align: center;
        font-family: $main-font;
        font-size: $font-h2;
        text-transform: uppercase;
        margin: 0 auto $marginXlg auto;
    }
}

.container {
    width: $width;
    height: $height;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        'top'
        'bottom';
}

.top {
    border: $border solid $color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'c1 c2 c3 . ';
    grid-area: top;
    background-color: $clr-bkg-darker;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

.c1,
.c2,
.c3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: $circleWidth;
    height: $circleHeight;
    background-color: $clr-secondary;
    border-radius: 50px;
    border: $border-circle solid $color;
    margin: 0.8rem auto;
    transition: 0.3s ease-in;
}
.circle:hover {
    background-color: $clr-text-primarly;
}

.bottom {
    grid-area: bottom;
    border-left: $border solid $color;
    border-right: $border solid $color;
    border-bottom: $border solid $color;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $clr-bkg-darker;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    // grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin: 2rem;
        font-size: $font-h3;
    }
}

.links {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 30rem;
    margin: 2rem auto;
}

//button

.btn_contact {
    width: 85%;
    margin: 2rem 0rem;
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 48em) {
    $width: 35rem;
    $height: $width / 1.5;
    .container {
        width: $width * $scale;
        height: $height * $scale;
        grid-template-rows: 15% 85%;
    }
    .circle {
        width: $circleWidth * 1.5;
        height: $circleHeight * 1.5;
        border: $border-circle * 1.5 solid $color;
    }
    .btn_contact {
        width: 30rem;
    }
    .text {
        grid-area: text;

        p {
            text-align: center;
        }
    }
}
