@import "~/css/global-variables.module.scss";

/*
=============== 
Navbar
===============
*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: $clr-primary;
  position: fixed;
  z-index: 30;
}

.nav_logo,
.nav_toggle {
  color: $clr-primary;
  font-size: 5rem;
  margin: 2rem;
}
