/*
===============
Global Styles
===============
*/

/*
===============
Colors
===============
*/

$clr-primary: #f0945e;
$clr-secondary: #ffe082;
$clr-bkg-darker: #102c34;
$clr-bkg-lighter: #1f454c;
$clr-text-primarly: #fff;
$bkg-pattern-glamour: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='160' height='80'%3E%3Cpath fill='%2395c254' fill-opacity='0.3' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
/*
===============
Spacing/borders
===============
*/

$transition: all 0.3s linear;
$spacing: 0.2rem;
$radius: 4px;

$marginLg: 2.75rem;
$marginMd: 1.75rem;
$marginSm: 1rem;
$marginXlg: 10rem;

$border: 0.5px;
$shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.5);

/*
===============
Fonts
===============
*/

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    background-color: $clr-bkg-darker;
    line-height: 1.5;
    color: $clr-text-primarly;
}

@import url('https://use.typekit.net/sxg0dxz.css');

// $main-font: 'ff-typestar-ocr-web-pro', sans-serif;
$main-font: 'museo-sans', sans-serif;
$secondary-font: 'museo-sans', sans-serif;

$font-h1: 2.7rem;
$font-h2: 2rem;
$font-h3: 1.6rem;
$font-h4: 1.5rem;
$font-p: 1.4rem;
$font-small: 0.8rem;

p {
    font-size: $font-p;
    font-family: $secondary-font;
    font-weight: 100;
}

h1,
.h1 {
    font-family: $main-font;
}

h2,
h3,
h4,
.h2,
.h3,
.h4 {
    font-family: $secondary-font;
}

h1,
.h1 {
    font-size: $font-h1;
    text-transform: capitalize;
}
h2,
.h2 {
    font-size: $font-h2;
}
h3,
.h3 {
    font-size: $font-h3;
}
h4,
.h4 {
    font-size: $font-h4;
}
.text_small {
    font-size: $font-small;
}

$scaleSmall: 1.1;
$scaleMedium: 1.2;
$scaleLarge: 1.3;
// Small devices (landscape phones, 576px and up)
@media (min-width: 28em) {
    h1,
    .h1 {
        font-size: $font-h1 * $scaleSmall;
    }
    h2,
    .h2 {
        font-size: $font-h2 * $scaleSmall;
    }
    h3,
    .h3 {
        font-size: $font-h3 * $scaleSmall;
    }
    h4,
    .h4 {
        font-size: $font-h4 * $scaleSmall;
    }
    p {
        font-size: $font-p * $scaleSmall;
    }
    .text_small {
        font-size: $font-small;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 48em) {
    h1,
    .h1 {
        font-size: $font-h1 * $scaleMedium;
    }
    h2,
    .h2 {
        font-size: $font-h2 * $scaleMedium;
    }
    h3,
    .h3 {
        font-size: $font-h3 * $scaleMedium;
    }
    h4,
    .h4 {
        font-size: $font-h4 * $scaleMedium;
    }
    p {
        font-size: $font-p * $scaleMedium;
    }
    .text_small {
        font-size: $font-small * $scaleMedium;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 62em) {
    h1,
    .h1 {
        font-size: $font-h1 * $scaleLarge;
    }
    h2,
    .h2 {
        font-size: $font-h2 * $scaleLarge;
    }
    h3,
    .h3 {
        font-size: $font-h3 * $scaleLarge;
    }
    h4,
    .h4 {
        font-size: $font-h4 * $scaleLarge;
    }
    p {
        font-size: $font-p * $scaleLarge;
    }
    .text_small {
        font-size: $font-small * $scaleLarge;
    }
}
