@import "./resets", "~/css/global-variables.module.scss";

body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background: $bkg-pattern-glamour;
  /* Full height */
  height: 30vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}

.parallax.full_height {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -10;
}
