@import './resets' ,'./global-variables';

 /*
=============== 
Projects grid
===============
*/
$ratio:1.618;

.section{
    width:95%;
    margin: 0 auto;
}

.container {
    width: 80vw/1.618;
    height: 80vh;
    display: grid;
    grid-gap: 1rem;
  margin: $marginLg auto;
    grid-template-columns: 23.6% 14.6% 61.8%;
    grid-template-rows: 61.8% 14.6% 23.6%;
    grid-template-areas: "a a a" "d e b" "c c b";
  }
  
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  border-radius: $radius;
  box-shadow:$shadow;
  @keyframes scale{
    0%, 20%, 100% {
     transform: scale(1,1);
    }
    5% {
      transform: scale(1.05,1.05); 
      
    }
   }
    &:nth-of-type(1) {
      grid-area: a;
      font-size: 4rem;
      animation-name: scale;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    
    }
    &:nth-of-type(2) {
      grid-area: b;
      animation-name: scale;
      animation-duration: 10s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-of-type(3) {
      grid-area: c;
      animation-name: scale;
      animation-duration: 10s;
      animation-delay: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-of-type(4){
      grid-area: d;
      animation-name: scale;
      animation-duration: 10s;
      animation-delay: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-of-type(5){
      grid-area: e;
      animation-name: scale;
      animation-duration: 10s;
      animation-delay: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    
      }

.image{
    filter: grayscale(100%) blur(2px) contrast(95%);
}
.image:hover,
.image:focus,
.image:active{
    filter: grayscale(100%) blur(0px) contrast(95%);
    transition: $transition;
}
  
.title{
 top:0;
  left:0;
  position: absolute;
  z-index: 99;
  color: $clr-dt-text-primarly;
font-size: 1em;
font-family:$secondary-font;
writing-mode: vertical-lr;
text-orientation: upright;
overflow-wrap: break-word;
padding: 0.1em;
span{
  margin-left: $marginLg;
}
}

// @media (min-width: 36em) {
//   .title{writing-mode:horizontal-tb;}
// }

  @media (min-width: 48em) {
    .container {
      width: 80vw;
      height: 80vh/1.618;
      display: grid;
      grid-template-columns: 61.8% 14.6% 23.6%;
      grid-template-rows: 61.8% 14.6% 23.6%;
      grid-template-areas:
        "a b b"
        "a e c"
        "a d c";
    }
   
  }
  
  