@import './resets', '~/css/global-variables.module.scss';

/*
=============== 
Project Template
===============
*/

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding-bottom: $marginMd;
    h1,
    h2 {
        text-align: left;
        color: $clr-cirle;
    }
}
.container,
.container > * {
    margin-top: $marginLg;
    margin-bottom: $marginLg;
    text-align: justify;
}

.homeLink {
    position: fixed;
    z-index: 30;
    color: $clr-primary;
    font-size: 5rem;
    margin: 2rem;
    transform: translateY(-3.2rem);
}
.image {
    margin-top: $marginLg;
    margin-bottom: $marginLg;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links > :first-child {
    margin-right: $marginMd;
}

.link {
    color: $clr-primary;
    font-size: $font-h3;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px $clr-primary solid;
    padding: $marginSm;
    border-radius: $radius;
    width: 15rem;
    justify-content: center;
}

.link:hover {
    cursor: pointer;
    animation-name: flash-link;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.linkName {
    margin-left: 0.5rem;
}
@keyframes flash-link {
    0%,
    50%,
    100% {
        color: $clr-text-primarly;
    }
    25%,
    75% {
        color: $clr-primary;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 36em) {
    .container {
        width: 60%;
    }
}
