@import './resets' ,'./global-variables';

.links{
    display: flex;
    flex-direction: column;
   height: 30vh;
   justify-content: flex-start;
   margin-top:$marginSm;
   margin-bottom: $marginLg;
    }
    
.links a{
    color:$clr-dt-primary;
    font-size: 2.8rem;
    align-self: center;
    }
.links a:hover{
    animation-name: flash-link;
    animation-duration: 1s;
    animation-fill-mode: both;
    }
    @keyframes flash-link { 
        0%, 50%, 100% {color:$clr-dt-text-primarly}
        25%, 75% {color:$clr-dt-primary}
        }  
@media (min-width: 36em) { 
.links{
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                }
            }
            @media (min-width: 48em) { 
              
                .links a{
                font-size: 3.5rem;
                }
                }