@import '~/css/global-variables.module.scss';

.sidebar {
    padding-top: 10%;
    width: 30%;
    height: 100vh;
    position: fixed;
    z-index: 20;
    padding-left: 2rem;
    backdrop-filter: blur(10px);
    li {
        margin-top: 5rem;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.link {
    color: $clr-primary;
    display: block;
    width: 35vw;

    background: transparent;
    text-align: left;
    transition: all 0.5s ease-in-out;
    border: none;
    font-size: $font-p;
    font-weight: 600;
    text-transform: uppercase;
}
.link:hover,
.link:active {
    width: 40vw;
    transition: all 0.5s ease-in-out;
}
.pdfLink {
    color: $clr-text-primarly;
    text-transform: uppercase;
    padding: $marginMd;
    border: $clr-primary solid $border;
    border-radius: $radius;
    background-color: rgba(240, 148, 94, 0.63);
    font-size: $font-p;
    font-weight: 600;
    font-family: $main-font;
}
