@import "~/css/global-variables.module.scss";

$border-circle: 0.5rem;
$color: $clr-primary;
$width: 35rem;
$height: $width / 4 * 3;
$scale: 1.5;

.container {
  width: $width;
  height: $height;
  margin: 2rem auto;
  display: grid;
  background: transparent;
  align-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "top"
    "bottom";
  transition: 0.5s ease-in-out;
}

.container:hover,
.container:focus,
.container:active {
  transform: scale(1.1, 1.1);
}

.top {
  border: $border solid $color;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "c1 c2 c3 . . .";
  grid-area: top;
}

.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;
}

.c3 {
  grid-area: c3;
}

.c1,
.c2,
.c3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f5cc51;
  border-radius: 50px;
  border: $border-circle solid $color;
  margin: 0.8rem auto;
  transition: 0.3s ease-in;
}
.circle:hover {
  background-color: $clr-text-primarly;
}

.bottom {
  grid-area: bottom;
  border-left: $border solid $color;
  border-right: $border solid $color;
  border-bottom: $border solid $color;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 12rem;
  height: 12rem;
}

.text {
  word-wrap: break-word;
  font-size: $font-h3;
  font-family: $secondary-font;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 2rem;
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 48em) {
  .container {
    width: $width * $scale;
    height: $height * $scale;
  }

  .container:nth-last-child(n + 2) {
    margin-right: 2rem;
  }
  .circle {
    width: 2.5rem * $scale;
    height: 2.5rem * $scale;
    border: $border-circle * $scale solid $color;
  }

  .img {
    width: 15rem;
    height: 15rem;
  }
}
